:root{
  --key-size: 72px;      
  --gap: 10px;
  --btn-bg: #313131;
  --btn-color: #aaaaaa;
  --btn-radius: 8px;
}

.inputCal {
    display: grid;
    margin: auto;
    margin-top: 15px;
    margin-bottom: 10px;
    width: 260px;
    height: 40px;
    background: var(--btn-bg);
    color: var(--btn-color);
    border: none;
    border-radius: var(--btn-radius);
}


.numpad{
  display: grid;
  grid-template-columns: repeat(4, 1fr); 
  gap: var(--gap);
  width: min(360px, 100%); /* адаптивная ширина */
  margin: 0 auto;
}

.btnCal {
  display: grid;

  width: min(360px, 100%); 
  margin-left: auto;
  gap: var(--gap)
}

/* кнопки: квадратные с помощью aspect-ratio */
.btn{
  background: var(--btn-bg);
  color: var(--btn-color);
  border: none;
  border-radius: var(--btn-radius);
  font-size: 1.2rem;
  cursor: pointer;
  display: inline-grid;
  place-items: center;
  aspect-ratio: 1 / 1;    
  transition: transform .06s ease, box-shadow .06s ease;
}


.btn:active{
  transform: translateY(1px);
  box-shadow: inset 0 2px 6px rgba(0,0,0,0.3);
}

